<h1>John Beckley</h1>
<nav>
  <div class="SideButtons">
    <button class="ShopButton">
      Shop
    </button>
  </div>
  <div class="CentredButtons">
    <button class="NavigateButton">
      Home
    </button>
    <button class="NavigateButton">
      About me
    </button>
    <button class="NavigateButton">
      Contact
    </button>
  </div>
  <div class="SideButtons">
    <button>
      <img src="../assets/img/language.png"/>
    </button>
    <button>
        Profile
    </button>
    <button>
        Shop
    </button>
  </div>
</nav>