<div style="height: 10%;">
  <h1>John Beckley</h1>
  <nav>
    <div class="SideButtons">
      <button class="ShopButton">
        Shop
      </button>
    </div>
    <div class="CentredButtons">
      <button class="NavigateButton">
        Home
      </button>
      <button class="NavigateButton">
        About me
      </button>
      <button class="NavigateButton">
        Contact
      </button>
    </div>
    <div class="SideButtons">
      <button class="ImgButton">
        <img src="../assets/img/language.png"/>
      </button>
      <button class="ImgButton">
        <img src="../assets/img/profile.png"/>
      </button>
      <button class="ImgButton">
        <img src="../assets/img/shopping-cart.png"/>
      </button>
    </div>
  </nav>
</div>
<app-home></app-home>